.menu-title {
  position: sticky;
  top: 145px;
  color: #3d3e3e;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px;
  font-size: 18px;
  width: 100%;
  min-width: 800px;
  text-align: left;
  border: none;
  outline: none;
  cursor: pointer;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  box-shadow: 0 3px 3px 0px rgba(0, 0, 0, 0.1);
  margin-bottom: 5px;
  
}
.menu-title:hover {
  background-color: #f8f8f8;
}

.menu-expand-icon {
  transition: 0.4s;
  height: 25px;
  width: 25px;
}
.expanded {
  transition: 0.4s;
  transform: rotate(180deg);
}